* {
    box-sizing: border-box;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #F4F2F2; 
  }
.header {
    width: 1440px;
    height: 111px;
    background-color: #E5E0DE;
    margin: 0 auto;
    }
 
.list {
    display: inline-block;
    list-style-type: none;
    margin: 0 41px 0 0;
}
.list-all {
    display: inline-block;
    list-style-type: none;
    margin: 43px 113px;
    font: 400 22px Roboto, sans-serif;
    text-transform: uppercase;
    color: #5C5C5C;
}
h1 {
    font: 900 56px Roboto, sans-serif;
    text-transform: uppercase;
    color: #5C5C5C;
    }
h2 {
        font: 500 23px Roboto, sans-serif;
        text-transform: uppercase;
        color: #5C5C5C;
        }
.h1-conteiner
{
    width: 1440px;
    height: 0px;
    
    padding: 56px 0px 0px 79px;
    margin: 0 auto;
}
.h2-conteiner
{
    width: 1440px;
    height: 0px;
    
    padding: 0x 310px 0px 0px;
    margin: 0 auto;
}
.bg
{
    
    background-color: #EDEDED;
    margin: 0 auto;
}
.bg1
{
    width: 1440px;
    height: 329px;
    background-color: #E5E0DE;
    margin: 0 auto;
}
.bg2
{
    width: 1327px;
    height: 440px;
    background-color: #5C5C5C;
    margin: 0 0 2101px 113px;
    
    
}

.bg3
{
    width: 998px;
    height: 329px;
    background-color: #EDEDED;
    margin: 0 0 111px 329px;
    
}
 
    

 
  .img-avatar  
  {   
    width: 218px;
    height: 218px;
    position: absolute;
    margin: 111px 998px 2212px 224px;
    }
    .img-container  
    {   
      width: 1440px;
      height: 218px;
      position: absolute;
      margin: 0 auto;
      }
      .bg4
      {
        width: 998px;
        height: 1800px;
        background-color: #E5E0DE;
        margin: 111px 0 0 442px;

        
    }   
    .bg5
    {
      width: 1440px;
      height: 1800px;
      background-color: #EDEDED;
      margin: 0 auto;

      
  }
  